﻿@model IEnumerable<Bio.Models.ShowDm>

<table id="tableshowTimes">
    <tr>
        <th id="tablethtime">@Html.DisplayNameFor(model => model.StartDate)</th>
        <th id="tableseats">@Html.DisplayNameFor(model => model.SeatsAvailable)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td id="tabletdisplaytime">@item.StartDate.ToShortTimeString()</td>
            <td id="tableseatdisplay">@item.SeatsAvailable</td>
            <td><p id="hyperlinkrightparagraph">@Html.ActionLink("Köp/reservera", "TestOne", new { id = item.Id })</p></td>
        </tr>
    }
</table>
