﻿@model Bio.Models.BookingsDm
@{
    ViewBag.Title = "BookTickets";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<body background="~/Images/BookingBackground.jpeg">
    <div class="container">
    <h3 align="center">VILL DU KÖPA ELLER RESERVERA DINA BILJETTER?</h3>
    <table class="gridtable">
        <tr>
            <td>
                <b>Köp biljetter</b>
                <br />
                Hämta biljetterna när du vill!
            </td>
            <td>
                <b>Reservera biljetter</b>
                <br />
                Reservera nu, betala sen.
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm("Receipt", "Booking"))
            {
                <td>
                    Du hämtar ut biljetterna med kontokortet eller något av Cinema palace-korten.
                    <br />
                    <br />
                    @Html.LabelFor(m => m.Email)
                    <br />
                    @Html.TextBoxFor(m => m.Email)
                    @Html.HiddenFor(m => m.Id)
                    <br />
                    <br />
                    @Html.CheckBoxFor(m => m.AcceptConditions)
                    @Html.LabelFor(m => m.AcceptConditions)
                    <br />
                    <br />
                    <input type="submit" value="KÖP"/>
                </td>
            }
            @*@using (Html.BeginForm("ReserveTicket", "Booking"))
            {*@
                <td>
                    @{ var twentyFourHours = DateTime.Now.AddHours(24).ToString(); }
                    Om du väljer att reservera dina biljetter måste du betala dem senast @twentyFourHours
                    <br />
                    <br />
                    @Html.LabelFor(m => m.Email)
                    <br />
                    @Html.TextBoxFor(m => m.Email)
                    <br />
                    <br />
                    <br />
                    <br />
                    @*<input type="submit" value="RESERVERA" />*@
                </td>
            @*}*@
        </tr>
    </table>
        </div>
    </body>
