﻿@model List<Bio.Models.MoviesDm>

<link rel="stylesheet" type="text/css" href="~/Content/BookingCss.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
@{
    ViewBag.Title = "Booking";
}
<body>

    <div class="container" id="mainbookingdiv">

        
        <div id="bookingdivleft">
            <h2 id="h4movietitle">Välj film</h2>

           <div id="innerbookingdivleft">
               @foreach (var movie in Model)
               {
                   <p id="movieParagraph">@Ajax.ActionLink(@movie.Name, "ShowDates", new { id = movie.Id }, new AjaxOptions { UpdateTargetId = "movieDatesOnSelectedMovie" }, new { @class = "movieHyperLink" })</p>

               }
           </div>
        </div>


        <div id="bookingdivright">
            <h2 id="h4movietime">Välj när du vill se på bio</h2>
            <div id="movieDatesOnSelectedMovie"></div>
            <br />
            <div id="showTimeOnSelectedMovieDate"></div>
        </div>
        <div class="clearfix"></div>
    </div>

</body>

<script>
    console.log("hej");
    $('#innerbookingdivleft').on('click', function () {
        var divshowtimes = document.getElementById('showTimeOnSelectedMovieDate');
        var isvisible = $('#showTimeOnSelectedMovieDate').is(':visible');
        if (isvisible) {
            $('#showTimeOnSelectedMovieDate').hide();
            console.log(isvisible);
        }
    });
</script>

