﻿@model Bio.Models.ReceiptDm

@{
    ViewBag.Title = "Receipt";
}

<link rel="stylesheet" type="text/css" href="~/Content/Receipt.css" />




<div id="receipt" class="divreceipt">
    <h1>Cinema Palace</h1>
    <img src="http://weeklygeekshow.com/img/imaxLogo.png" id="Imax" />
    
    <p id="h2">Receipt</p>   
     
    <div class="divtransbackground">                
        <div id="blocks">Time: </div>
        <div id="blocks"> @Model.Date</div>
        
        <div id="blocks">Movie: </div>
        <div id="blocks">@Model.MovieName </div>
        
        <div id="blocks">Adults:</div>
        <div id="blocks">@Model.TotalAdults</div>

        <div id="blocks">Children:</div>
        <div id="blocks">@Model.TotalChildren</div>

        <div id="blocks">Email:</div>
        <div id="blocks">@Model.Email</div>

        <div id="blocks">Price Sum:</div>
        <div id="blocks">@Model.TotalPrice</div>
        

        <h2 color="green" class="blink_me"> "Success!"</h2>


        
    </div>

    <p id="h2"> ~ </p>
    
</div>


    @foreach (var item in @Model.Tickets)
    {
        <div id="receipt" class="divreceipt">
            
            <p id="ticketh2">Cinema Palace Ticket</p> 
            <div class="divtransbackground">
                    
                <div>@Model.MovieName</div>
                <div>Time: @Model.Date</div>                
                <div>Seat:@item.RowNr - @item.SeatNr</div>
                <div>Price: @item.Price KR</div>
                <div>TicketId: @item.TicketId</div>
                <div>Phone: 200-44 44 55 55</div>
                <img src="~/Images/logo.jpeg" id="logo" />
            </div>
        </div>
    }
    
