﻿@model Bio.Models.BookSeatDm

<script src="~/Scripts/seatBooking.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/SeatCss.css" />



@{ ViewBag.Title = "Seat"; }



@using (Html.BeginForm())
{
    <div class="mainDiv">
        <div class="maincontent">
            
                <div id="screen"></div>
                <div class="seats">
                    @{
                        int counter = 1;
                        string imgSrc;
                        foreach (var row in Model.Rows)
                        {
                            <ul class="seatul seatrow">

                                @for (int i = 1; i <= Model.TotalSeatsPerRow; i++)
                                {
                                    if (Model.Show.Seats.Any(n => n.SeatNr == counter))
                                    {
                                        imgSrc = "../Images/RedChair.png";
                                    }
                                    else
                                    {
                                        imgSrc = "../Images/WhiteChair.png";
                                    }

                                    <li class="seatli">
                                        <img id="@row-@counter" onclick="seatClick(this, this.id)" src=@imgSrc />
                                    </li>
                                    counter++;

                                }
                            </ul>
                        }
                    }
                </div>
            <div>
                <hr id="seathr" />
                <span><img src="~/Images/WhiteChair.png" />  ledigt | </span>
                <span><img src="~/Images/RedChair.png" />  upptaget | </span>
                <span><img src="~/Images/GreenChair.png" />  dina val</span>
            </div>
            <p id="booked-or-not"></p>



            <div class="laststep">
                <div class="bookinfo">
                    <table style="width:100px; text-align:center;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Valda säten</th>
                            </tr>
                        </thead>
                        <tbody id="choosenseats"></tbody>
                    </table>
                </div>


                <div class="receipt">
                    <table>
                        <tr>
                            <td><span>Att betala </span></td>
                        </tr>
                        <tr>
                            <td><span id="totalSum"></span></td>
                        </tr>
                        <tr>
                            <td><input class="btn btn-primary btn-block btn-xs" id="bookSeatsBtn" type="submit" value="Boka" /></td>
                        </tr>
                    </table>
                    @Html.HiddenFor(model => model.Show.Id, htmlAttributes: new { id = "showId" })
                   
                </div>
                
            </div>
            <div class="clearfix"></div>


        </div>
    </div>
}
