﻿Body{
    background-image: url("http://d3thflcq1yqzn0.cloudfront.net/008950200_prevstill.jpeg");
    background-size: auto;
}

#h4movietitle{
    color: #edfb68;
    border-bottom: solid;
    border-bottom-color: #ff7f7f;
    border-bottom-width: 10px;
}

#h4movietime{
    color: #edfb68;
    border-bottom: solid;
    border-bottom-color: #ff7f7f;
    border-bottom-width: 10px;
}

.movieHyperLink{
    color: #e3b629;
}

.movieHyperLink a:link{
    color: white;
}

.movieHyperLink:visited{
    color: #e3b629;
}

.movieHyperLink:active{
    color: #e3b629;
}

#hyperlinkrightparagraph a:link{
    color: green;
}

#hyperlinkrightparagrapha a:link, a:visited{
    color:green;
}

#mainbookingdiv{
    margin-top: 25px;
    width: 120%;
}

#bookingdivleft{
    text-align: center;
    background-color: #690a04;
    width:45%;
    height:500px;
    border:20px  ridge #ff0000;
    margin-right:30px;
    margin-top: 0%;
    float:left;
}

#innerbookingdivleft{
    margin-left: 190px;
    text-align:left
}

#bookingdivright{
    text-align: center;
    background-color: #690a04;
    width:45%;
    height: 500px;
    border:20px  ridge #ff0000;
    margin-left:30px;
    float:left;
}

#dropDown{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ead079;
}

#tableshowTimes{
    margin-left: 30px;
}

#tableshowTimes{
    table-layout:fixed;
    width: 100%;
    color: #e3b629;
}

#tablethtime{
    width: 80px;
    text-align: left;
}

#tabletdisplaytime{
    width: 80px;
    text-align: left;
}

#tableseats{
    width: 100px;
    text-align:left;
}

#tableseatdisplay{
    width: 100px;
    text-align:left;
}