body{
	color: white;
    font-style: italic;
    background-image: url(../Images/biosalong.jpeg);
    background-size: 100% 100%;
}


#logo{
    width:200px;
    height:150px;    
    right: 10px;
    top: 150px;
    margin: 30px;
}


h1{
    color: white;
    text-shadow: 2px 2px #FF0000;
    font-size: 700%;
}

h2{
    color: white;
    text-shadow:5px 5px 5px red;
    font-size: 300%;   
}

button{
    background-color: red;
    box-shadow: 10px 10px 5px #888888;
}



















