﻿body {
    
    background-image:url(../Images/BookingBackground.jpeg);
    background-color: rgba(177, 12, 12, 0.70);
    border: 2px solid black;
    
}

#Imax{
    border-image-slice:fill;
    border-image-width:100px;
    border-image-repeat:repeat;
    resize: both;
    height:100px;
    width:auto;    
}

#receipt{
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-collapse: inherit;    
    width: 450px;
    text-align: left;
    vertical-align: text-bottom;
    text-align : center;
    color : saddlebrown;
    font-weight: 900;
    background-color : rgba(176, 224, 230, 0.80);
    border: 2px;
    -moz-box-shadow: 20px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 10px 2px 3px rgba(0,0,0,.5);
    box-shadow: 10px 2px 3px rgba(0,0,0,.5);
    box-shadow: 0px 3px 10px rgba(34,34,34,0.6);
}

.divtransbackground{
    margin: 10px;
    background-color: rgba(209, 239, 243, 0.90);
    border: 1px solid black;
    opacity: 5;
    filter: alpha(opacity=100);
}
.divreceipt{
      margin: 10px;
    background-color: rgba(161, 41, 41, 1);
    border: 1px solid black;
    opacity: 1;
    filter: alpha(opacity=60);
}

#h2{
   
    text-align:center;
       margin-left: auto;
    margin-right: auto;
    width: 450px;
    background-color: #b0e0e6;
}

#ticketh2{
     color: white;
    font-style: italic;
     color: white;
    text-shadow: 1px 1px #FF0000;
    font-size: 100%;
}

#coloringtogreen{
    color: green;
    background-color: gold;
}

#blocks{
    text-align:left;
    display: inline-block;    
    width: 210px;
}

#logo{   
    float:right;
    margin-right:0px;
    margin-top:-100px;
    clear:both;
    height:100px;
    width: 100px;
    opacity: 0.4;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}