﻿body {
    background-image: url(../Images/SeatBackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
    height: 100%;
}

ul {
    -webkit-padding-start: 0px;
    padding-bottom:10px;
}

#seats {
    display: inline-block;
}


#seathr {
    margin-top: 40px;
    margin-bottom: 5px;
}


.mainDiv {
    text-align: center;
    color: white;
}

#screen {
    background-image: url(../Images/cinemascreen.jpg);
    background-size: 100% 100%;
    height: 40px;
    margin-bottom: 40px;
}

.seatul {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.seatli {
    display: inline-block;
}

.seats .seatrow {
    clear: both;
}

    .seats .seatrow:nth-child(1) li {
        margin: 0 2px;
    }

    .seats .seatrow:nth-child(2) li {
        margin: 0 4px;
    }

    .seats .seatrow:nth-child(3) li {
        margin: 0 6px;
    }

    .seats .seatrow:nth-child(4) li {
        margin: 0 8px;
    }

    .seats .seatrow:nth-child(5) li {
        margin: 0 10px;
    }


#fix {
}

.bookinfo {
    float: left;
    padding-right: 20px;
}

.maincontent {
    padding-top: 70px;
    display: inline-block;
}

#choosenseats {
    line-height: normal;
}

.laststep {
    padding-top: 20px;
    display: inline-flex;
}

.receipt {
    padding-left: 20px;
}
