﻿
@{
    ViewBag.Title = "Cinema Palace";
}

<link href="~/Content/CinemaStyle.css" type="text/css" rel="stylesheet" />

<div>
    <h1>CINEMA PALACE<img src="~/Images/logo.jpeg" id="logo" /></h1>
   
</div>

<div>Cinema Palace erbjuder klassiska filmer, betala och njut!</div>
<br>
<br>


<script>

    function gudfadern() {
        document.getElementById("gudfadern").innerHTML = "Gudfadern är en amerikansk oscarbelönad gangsterfilm från 1972 i regi av Francis Ford Coppola med Marlon Brando och\
                                                          Al Pacino i huvudrollerna Filmen hade biopremiär i USA den 24 mars 1972, och hade Sverigepremiär den 27 september samma år.\
                                                          Filmens handling utspelar sig mellan 1945 och 1955 och handlar om en fiktiv italiensk-amerikansk maffiafamilj vid\
                                                          namn Corleone. Gudfadern har fått oerhört många lovord från både amerikanska och internationella filmkritiker, och\
                                                          rankas som en av världens bästa filmer. Filmen fick Oscar för Bästa film, Bästa manliga huvudroll (Marlon) och\
                                                          för Bästa manus efter förlaga. Den har också valts ut för att bevaras i det amerikanska filmregistret.\
                                                          Dessutom rankas filmen på andra plats i den amerikanska filminstitutets lista på 100 bästa filmer på 100 år.\
                                                          Av den brittiska tidningen Empire har den utsetts till historiens bästa film, på deras lista över de 500 bästa filmerna";
    }

    function dieHard() {
        document.getElementById("dieHard").innerHTML = "På julaftonskvällen sitter polisen John McClane (Bruce Willis) på en internationell flygplats och\
                                                        väntar på sin frus flygplan när plötsligt en grupp terrorister intar flygplatsen.\
                                                        Terroristerna är ett gäng avhoppade kommandosoldater som kommit för att rädda en knarkkung undan rättvisan.\
                                                        De har tänkt på allt, utom en sak: John McClane! John McClanes julafton ser återigen ut att bli förstörd i\
                                                        uppföljaren på Die Hard.";
    }

    function pulpFiction() {
        document.getElementById("pulpFiction").innerHTML = "Filmen har fyra huvudsakliga handlingar. Man följer fyra karaktärssamlingar: Vincent och Jules, Mia och Marsellus Wallace,\
                                                            Butch Coolidge samt Pumpkin och Honey Bunny, dessa fyra handlingar knyts samman genom ovanliga och mer eller mindre\
                                                            triviala händelser, Vincent är dock den enda av dessa sju karaktärer som möter alla de övriga under filmen.\
                                                            De olika handlingarna visas inte i kronologisk ordning.";
    }
</script>


<h2>Godfather</h2>
<body>
    <p id="gudfadern"></p>
</body>
<button type="button"
        onclick="document.getElementById('infobar').innerHTML = gudfadern()" ;>
    Om filmen
</button>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/sY1S34973zA" frameborder="0" allowfullscreen></iframe><br>
<br>
<br>



<h2>Die Hard 2</h2>
<body>
    <p id="dieHard"></p>
</body>
<button type="button"
        onclick="document.getElementById('infobar').innerHTML = dieHard()" ;>
    Om filmen
</button>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OyxfXQ4MGLQ" frameborder="0" allowfullscreen></iframe><br>
<br>
<br>


<h2>Pulp Fiction</h2>
<body>
    <p id="pulpFiction"></p>
</body>
<button type="button"
        onclick="document.getElementById('infobar').innerHTML = pulpFiction()" ;>
    Om filmen
</button>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tGpTpVyI_OQ" frameborder="0" allowfullscreen></iframe>

